body {    
    background-color: #1e1e1e;
    color: #cdcccc;
}
a {
    color: #cdcccc;
}
select {
    background-color: #1e1e1e;
    color: #cdcccc;
    max-width: 200px;
}
button {
    background-color: #8b0000;
    color: #cdcccc;
    border: 1 solid #cdcccc;
}
.conteneur {
    border: 2px solid #8b0000;
    border-radius: 0px 50px 0px 50px;
    margin: auto;
    width: fit-content;
    max-width: 100%;
    background-image: url("logoUFICT.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding: 5px;
}
.sousconteneur {
    position: relative;
}
.tete {
    text-align: right;
}
.pied {
    padding: 5px;
    text-align: right;
} 
.formulaire {
    text-align: right;
}
.calculs {
    padding: 5px;
    display: none;
}
.matable {
    border-collapse: collapse;
}
.matable td {
    padding: 10px;
    word-wrap: break-word;
}
.matable td:nth-child(even) {
    text-align: center;
    vertical-align: top;
}
.matable tr:nth-child(odd) {
    background-color: #555555;
}
.radar {
    visibility: hidden;
}