body {
    background-color: #1e1e1e;
    color: #cdcccc;
    width: fit-content;

}
a {
    color: #cdcccc;
}
select {
    background-color: #1e1e1e;
    color: #cdcccc;
    width: 300px;
}
button {
    background-color: #8b0000;
    color: #cdcccc;
    border: 1 solid #cdcccc;
}
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 20px;
    grid-template-areas:
        "tete"
        "formulaire"
        "bouton"
        "calculs"
        "pied";
    border: 2px solid #8b0000;
    border-radius: 15px 50px 0px 50px;
    padding: 5px;
}
.tete {
    font-size: large;
}
.pied {
    text-align: right;
} 
.formulaire {
    grid-area: formulaire;
}
.bouton {
    grid-area: bouton;
}
.calculs {
    grid-area: calculs;
    overflow-x:auto;
}
.matable {
    border-collapse: collapse;
}
.matable td {
    padding: 10px;
    word-wrap: break-word;
}
.matable td:nth-child(even) {
    text-align: center;
    vertical-align: top;
}
.matable tr:nth-child(odd) {
    background-color: #555555;
}